@font-face {
    font-family: RobotoBold;
    src: url('../fonts/Roboto/Roboto-Bold.ttf');
}

@font-face {
    font-family: RobotoBlack;
    src: url('../fonts/Roboto/Roboto-Black.ttf');
}

@font-face {
    font-family: RobotoLight;
    src: url('../fonts/Roboto/Roboto-Light.ttf');
}

@font-face {
    font-family: MontserratAlternatesBlack;
    src: url('../fonts/MontserratAlternates-Black.ttf');
}

@font-face {
    font-family: MontserratAlternatesRegular;
    src: url('../fonts/MontserratAlternates/MontserratAlternates-Regular.ttf');
}

@font-face {
    font-family: MontserratAlternatesBold;
    src: url('../fonts/MontserratAlternates/MontserratAlternates-Bold.ttf');
}

@font-face {
    font-family: MontserratAlternatesMedium;
    src: url('../fonts/MontserratAlternates/MontserratAlternates-Medium.ttf');
}

