*{
    font-family:MontserratAlternatesMedium;
}

.auth-form{
    padding-top:40px;
    padding-right:48px;
    padding-left:48px;
    padding-bottom:40px;
}

label, a{
    font-family:MontserratAlternatesMedium;
}

.auth-form label{
    font-family:MontserratAlternatesBold;
}

.auth-form label.form-check-label{
    font-family:MontserratAlternatesMedium;
}

.auth-title{
    font-family:MontserratAlternatesBold;
}

div.mb-3 input.form-control{
    /* margin: 5px 0 0; */
    /* padding: 11px 424px 12px 14px; */
    border-radius: 8px;
    border: solid 1px #7f7f7f;
    background-color: #ffffff;
}

.redirect-to-login a, .redirect-to-register a{
    text-decoration: none;
    color: #086dff;
}

.mobilmoo-introduction h1{
    font-size:45px;
    font-family:MontserratAlternatesBold;
}

.dropdown-menu-right {
    right: 0!important;
    left: auto!important;
}

.navbar-brand{
    font-family:MontserratAlternatesBold;
    color:#ffffff;
}

.mobilmoo-introduction img{
    width:100%;
    max-height: 100vh;
    margin:auto;
    display: block;
}

.mobilmoo-introduction{
    text-align:center;
    background-color: #086dff;
    color:#ffffff;
    padding-left:50px;
    padding-right:50px;
}

.mobilmoo-introduction p{
    font-size:18px;
    font-family:MontserratAlternatesMedium;
}

.opening{
    background:#086dff;
    width:100%;
    min-height:100px;
}

.navbar-nav li a{
    color:#ffffff;
    font-family: MontserratAlternatesMedium;
}

#sell_car_button{
    color:#086dff;
    font-family: MontserratAlternatesBold;
}

#next_button{
    color:#ffffff;
    font-family: MontserratAlternatesBold;
    width:100%;
    font-size: 24px;
}

.stepper{
    background: #ffffff;
}

.btn-white{
    background-color:#ffffff!important;
    border-color: #ffffff!important;
}

.navbar-expand-lg{
    padding-left:60px;
}

.content{
    padding-left:70px;
    color:#ffffff;
    padding-top:65px;
    padding-bottom:65px;
    min-height:200px;
}

.content p{
    font-family:MontserratAlternatesBold;
    font-size: 64px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
}

#browse_car_button{
    font-family:MontserratAlternatesBold;
    font-size:24px;
    color: #086dff;
    padding-top:10px;
    padding-right:10px;
    padding-left:20px;
    padding-right:20px;
}

.go-to-list{
    text-align:center;
    color:#ffffff;
    padding-top:20px;
    padding-bottom:20px;
}

.go-to-list i{
    cursor: pointer;
}

.explanation{
    text-align: center;
    min-height:100px;
    width:100%;
}

.explanation h1{
    font-family: MontserratAlternatesBold;
}

.explanation span{
    font-family: MontserratAlternatesMedium;
}

.explanation-list{
    margin-bottom:30px;
}

.explanation-list .card{
    min-height:250px;
    border-radius: 16px;
    box-shadow: 0 0 17px 0 rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
}

.explanation-list .card-title{
    text-align: center;
    font-family: MontserratAlternatesBold;
    min-height:100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.explanation-list .card-text{
    font-family: MontserratAlternatesMedium;
    font-size:14px;
}

.line{
    border:0.5px solid black;
    margin-bottom:20px;
}

.car-type{
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top:20px;
    padding-bottom:20px;
}

.car-type .btn-group button{
    font-family: MontserratAlternatesBold;
}

#car-opening{
    width:100%;
}

.car-list-title{
    text-align: center;
}

.car-list-title h1{
    font-family: MontserratAlternatesBold;
    font-size:32px;
}

.car-list-content{
    padding-top:30px;
    padding-bottom:30px;
}

.car-list-content li a{
    font-family: MontserratAlternatesBold;
}

.car-list-content li:not(.active){
    background-color:#e7f1ff;
}

.car-list-content .tab-content{
    padding-top:25px;
    padding-right:25px;
}

.car-list-content .card .card-title{
    font-family:RobotoBold;
    font-size: 24px;
    min-height:90px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.car-list-content .card{
    border: none;
}

.car-list-content .card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
    border-radius:10px;
}

.invalid-feedback-red{
    color:#ff0000!important;
}

.car-list-content div.scrollable-content{
    overflow-x:auto;
    /* width:50%; */
    margin:0 auto;
}

.car-list-content .tab-content .row{
    /* overflow-x: auto; */
    padding-top:30px;
    padding-bottom:20px;
}

.car-list-content div.scrollable-content::-webkit-scrollbar {
    width:10px;
    height:7px;
}

.car-list-content div.scrollable-content::-webkit-scrollbar-thumb {
    background-color: #086dff;
}

.car-list-content div.scrollable-content::-webkit-scrollbar-track {
    background: #e7f1ff; 
    width:100%;
}

.car-list-content .car-price{
    font-size: 24px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #086dff;
    font-family:RobotoBold;
}

.car-list-content .card-detail{
    padding-top:20px;
    padding-bottom:20px;
}

.car-list-content .card-detail span{
    font-family:RobotoLight
}

.moobot-recommendation{
    padding-top:30px;
    padding-bottom:25px;
    margin-bottom:30px;
    background-color: #086dff;
}

.moobot-recommendation img#person_chatting{
    width:100%;
}

.moobot-recommendation h1{
    font-family: MontserratAlternatesBold;
    font-size: 64px;
    color:#ffffff;
}

.moobot-recommendation p{
    font-size: 18px;
    color:#ffffff;
    font-family: MontserratAlternatesMedium;
}

#try_moobot{
    margin-top:15px;
    width:50%;
    font-family: MontserratAlternatesBold;
    font-size: 24px;
    color: #086dff;
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 8px;
}

.mobilmoo-footer{
    width:100%;
    min-height:200px;
}
.mobilmoo-footer h1{
    font-family:MontserratAlternatesBold;
    color:#086dff;
}

.mobilmoo-footer .footer-title{
    font-family:MontserratAlternatesBold;
    font-size:18px;
}

.mobilmoo-footer ul.social-media{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
}

.mobilmoo-footer ul.list-unstyled li a{
    text-decoration: none;
    font-family:MontserratAlternatesMedium;
    color:#000000;
    font-size: 18px;
}

.mobilmoo-footer-logo{
    text-align:center;
}

.inspection-booking{
    /* padding:6rem; */
    width:100%;
    min-height:100px;
    background-color: #086dff;
    padding-top:50px;
    padding-bottom:50px;
    padding-left:25px;
    padding-right:25px;
    position: relative;
    background-image: url('../img/flying_person.png');
    /* background-attachment: fixed; */
    background-repeat: no-repeat;
    background-position: center;
    background-size: 40%;
}

.inspection-booking-picture{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.inspection-booking label{
    font-family:MontserratAlternatesBold;
}

.inspection-booking h1{
    color:#ffffff;
    font-family: MontserratAlternatesBold;
    font-size:64px;
}

.inspection-booking p{
    font-size: 18px;
    color:#ffffff;
    font-family: MontserratAlternatesMedium;
}